@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sree+Krushnadevaraya&display=swap');

*{

    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*::selection{
    background: #9e2a2b;
    color: #fff;
}
body{
   background: #f5f3f4;/*url('img/so-white.png');*/
   background-repeat: repeat;
   background-size: contain;
   background-attachment: fixed;
   background-position: center;

   font-family: "Poppins", serif;
   font-weight: 300;
   font-style: normal;


}
/*solucionado cabezado*/
 header{
    width:100%;
    max-width: 1000px;  
    background:  #30323d;
    /*line-height: 90px;*/
    padding: 20px 0;
}

.tituloPrincipal{
    color: #fff;
    text-align: center;
    font-size: 18px;
    
}

.contenedor{
    width: 90%;    
    max-width: 1000px;
    background: #fff;
    text-align: center;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    
}




.contenedor nav{
    position: relative;
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.contenedor nav::after{
    content: "";
    background: #cfcfcf;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50px;
    filter: blur(0.5px);
}

.contenedor nav label{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

/*Ocultar btn radio*/
input[type="radio"]{
    display: none;
}

.contenedor nav .slider{
    position:absolute;
    height: 4.5px;
    background-color: #ffb311;
    border-radius: 20px;
    width: 20%;
    z-index: 1;
    left: 0;
    bottom:0;
    transition: all 0.3s ease;
    filter: blur(0.5px);
}

#inicio:checked ~ nav .slider{
    left: 0%;
}
#habilidades:checked ~ nav .slider{
    left: 25%;
}

#proyectos:checked ~ nav .slider{
    left: 50%;
}

#mas:checked ~ nav .slider{
    left: 75%;
}


/*color*/
#inicio:checked ~ nav .inicio{
    color: #6f55ca;
}
#habilidades:checked ~ nav .habilidades{
    color: #6f55ca;
}
#proyectos:checked ~nav .proyectos{
    color: #6f55ca;
}
#mas:checked ~ nav .mas{
    color: #6f55ca;
}
/*---------------------main---------------------------*/

main{
    filter: blur(0.3px);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main section .contenido{
    display: none;
    margin-bottom: 20px;
    
}

section .contenido .titulo{
    font-size: 21px;
    font-weight: 600;
    margin: 30px 0 10px 0;
}

section .contenido .subtitulo{
    font-size: 20px;
    font-weight: 400;
    margin:20px 0 5px 0;
}

.contenido .miFoto{
    margin-top: 50px;
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(225, 225, 225, 0.2);
}

/*Mostrar contenido*/
#inicio:checked ~ main section .contenido-1{
    display: block;
}

#habilidades:checked ~ main .contenido-2{
    display: block;
}

#proyectos:checked ~ main .contenido-3{
    display: block;
}

#mas:checked ~ main .contenido-4{
    display: block;
}

main section p{
    text-align: justify;
    line-height: 23px;
}

/*formulario*/
.contacto{
    padding: 65px 0;
    

}

.contacto .subtitulo2{
    font-size: 25px;
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: 300;
    color: #3895ea;
    text-align: center;
}

.contacto .formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"],
.contacto .formulario textarea{
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #a4a4a4;
}

.contacto .formulario input[type="text"]:focus,
.contacto .formulario input[type="email"]:focus,
.contacto .formulario textarea:focus{
    border:2px solid #1b8efa;
} 

.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"]{
    width: 49%;
    margin-bottom: 15px;
}

.contacto .formulario textarea{
    width:100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 250px;
    margin-bottom: 15px;
    resize: vertical; /*Solo en vertical*/
    padding: 5px 16px;
}

.contacto .formulario .boton{
    margin: auto;
    background: #3895ea;
    color: #fff;
    border:none;    
    border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;
}

.contacto .formulario .boton:hover{
   background:  #387bea;
}

/*--habilidades--*/
section{
    width: 100%;
   
}
.contenido-2{
    position: relative;
    width: 92%;
    left:4%;
    background: #e9edc9;
    
    
}

.contenido-2 .tecnologiasHerramientas{
    padding: 40px 0 0 0;
}

.contenido-2 .linea{
    width:90%;
    display: inline-block;
    height: 1.5px;
    background-color: #ff8000;
    z-index: 1;
    filter: blur(0.5px);
    
}

.contenido-2 .vineta::before{
    content: "•"; /* El carácter de la viñeta */  
    position: absolute; /* Posiciona la viñeta */  
    left: 50px; /* Alinear a la izquierda */  
    color: black; /* Color de la viñeta */  
    font-size: 55px; /* Tamaño de la viñeta */  
    line-height:0.5; /* Alinear verticalmente */ 

}

.contenido-2 .lenguajes{
    position: relative;
    text-align: left;
    padding: 5px 0 0 80px;
    
}

.contenido-2 .softwareHerramientas{
    position: relative;
    text-align: left;
    padding: 0px 0 0 80px;
    bottom: 22px;
}

.contenido-2 .development{
    position: relative;
    text-align: left;
    padding: 0px 0 0 80px;
    bottom: 22px;
}

.contenido-2 .hosting{
    position: relative;
    text-align: left;
    padding: 0px 0 0 80px;
    bottom: 22px;
}

.contenido-2 .dataBase{
    position: relative;
    text-align: left;
    padding: 0px 0 0 80px;
    bottom: 22px;
}

.contenido-2 .extras{
    position: relative;
    text-align: left;
    padding: 0px 0 0 80px;
    bottom: 22px;
}

/*imagenes*/
.contenido-2 .img{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contenido-2 .img .thumb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin: 12px;
   /* border: 1px solid #17202A;*/
  
    

}


.contenido-2 .img .descripcion{
    font-weight: 200;
    color: #2867a1;
}

.contenido-2 .img3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



/*---------------------footer---------------------*/
footer{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}



footer .redesSociales{
    height:140px ;
    /*padding: 15px 0;*/
    background: #30323d;
}

footer .redesSociales .subtitulo3{
    color: #ffffff;
    padding: 10px 0;
    font-size: 21px;
    justify-content: center;
    
}

footer .redesSociales .enlaces{
    display: flex;
    justify-content: center;
}

footer .redesSociales .enlaces a{
    font-size: 50px;
    color: #fff;
    text-align: center;
    width: 100px;
    display: block;
    border-radius: 3px;
    margin: 0 20px;
}

footer .redesSociales .facebook:hover{background: #1877f2;}
footer .redesSociales .gitHub:hover{background: #17202A;}
footer .redesSociales .deviantart:hover{background: #05CC46;}
footer .redesSociales .instagram:hover{background:  #e1306c;}

